{% extends "otree_redwood/Page.html" %}
{% load staticfiles otree %}



{% block scripts %}
    <script src="//code.highcharts.com/stock/highstock.js"></script>

    <script type="module" src="{% static 'webcomponents/inout/in-out.js' %}"></script>

{% endblock %}

{% block content %}
    {% comment %} INOUT polymer {% endcomment %}
    <in-out
        c='{{ gameConstant }}'
        my-forecast='{{ gameConstant }}'
        my-curr-forecast='{{ gameConstant }}'
        treatment='{{ treatment }}'
        graph-length='{{ player.group.graph_length }}'
        steps-ahead='{{ player.group.steps_ahead }}'
        interval='{{ player.group.tick_length }}'
        {% if player.group.show_button %}
            show-button
            graph-line='-1'
        {% else %}
            graph-line='{{ gameConstant }}'
        {% endif %}
        >
    </in-out>

{% endblock %}
